/* css var pass into js */
/* :root {
  --base: 5;
  --len: 10;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */


html {
  line-height: 2;
}
header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  place-content: center;
  position: relative;
}

header::before {
  position: absolute;
  content: '';
  width: 100vw;
  height: 100vh;
  background-image: url("../road.jpg");
  background-color: navy;
  background-size: contain;
  z-index: -1;
  background-position: center;

  transform: scale(1.2);
  transition: transform .3s ease-in .3s;

}

button {
  background-color: green;
  color: white;
}

.loaded header::before {
  transform: scale(1);
}

header h1 {
  color: white;
  font-family: fantasy;
  font-size: 4.5vw;
  /* font-siz: calc(2vh+2vw+2rem); */
  /* font-size: calc(10vh+10vw+10rem*(var(--base)/var(--len))); */
  height: 33vh;
  line-height: 1.5;

  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 38.2vw solid #FFFFFF;
  background-color: #96424242;
  padding-left: 2rem;
}

@media all and (max-width: 700px) {
  header {
    padding: 2rem 0rem 2rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

  }
}

body {
  background-color: beige;
  font-family: fantasy;
}
main {
  padding: 2rem 2rem 2rem 2rem;
  margin-left: 38.2vw;
}


main h3 {
  font-size: 2rem;
  /* color: #FFFFFF; */
  font-family: monospace;
  margin: 2rem 0;
}

.canvas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: beige;
  /* background-color: #999; */

}

.popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 2rem 2rem 0rem;
  margin-left: 38.2vw;
}
